#aboutText{
    font-family: "Arial"; /* Set the font family for the text */
    color: white; /* Set the text color to white */
    font-size: 1rem; /* Set the font size to 16 pixels */
    padding-top: 3%; /* Add padding to the top of the text container */
    padding-left: 8%; /* Add padding to the left of the text container */
    padding-right: 8%; /* Add padding to the right of the text container */
}

#backImage{
    padding-top: 3.125rem; /* Add padding to the top of the background image */
    margin: 0; /* Reset the margin to zero */
    background-color: rgba(0, 0, 0, 0); /* Set the background color to transparent */
    background-image: url("abstractBackground.jpg"); /* Set the background image */
    background-size: cover; /* Scale the background image to cover the entire container */
    background-position: center; /* Center the background image */
    font-family: "Georgia"; /* Set the font family for the text */
}

#banner{
    display: flex; /* Use flexbox layout for the banner */
    padding-left: 1%; /* Add padding to the left of the banner */
    align-items: center; /* Vertically center the items within the banner */
}

/* This CSS file defines styles for an about section text, a background image, and a banner. 
The about text has a specified font family, color, font size, and padding. 
The background image is set to cover the entire container, centered, and has a transparent background color. 
The banner uses flexbox layout, with padding and vertical alignment for its items. */
