#button{
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2), 0 0.375rem 1.25rem 0 rgba(0,0,0,0.19); /* Apply box shadow to create a shadow effect */
  background-color: #04aa6d; /* Set background color */
  border: none; /* Remove border */
  color: black; /* Set text color */
  height: 3.125rem; /* Set height */
  width: 3.125rem; /* Set width */
  transition-duration: 0.4s; /* Set transition duration for smooth effect */
  text-align: center; /* Center align text */
  font-weight: bold; /* Set font weight */
  font-size: 0.875rem; /* Set font size */
  font-family: Arial; /* Set font family */
  border-radius: 0.75rem; /* Set border radius */
} /* End of #button styles */

#button:hover{
  box-shadow: 0 0.75rem 1rem 0 rgba(0,0,0,0.24), 0 1.063rem 3.125rem 0 rgba(0,0,0,0.19); /* Apply box shadow on hover */
  background-color: #0f875b; /* Change background color on hover */
  color: black; /* Set text color on hover */
  display: block; /* Display the button on hover */
} /* End of #button:hover styles */

#dropdown {
  position: relative; /* Set the position relative to its normal position */
  display: inline-block; /* Display as an inline block */
} /* End of #dropdown styles */

#dropdown-content {
  display: none; /* Initially hide the dropdown content */
  position: absolute; /* Set the position to absolute */
  background-color: #f9f9f9; /* Set background color */
  min-width: 6.25rem; /* Set minimum width */
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2); /* Apply box shadow */
  z-index: 1; /* Set z-index */
  border-radius: 0.813rem; /* Set border radius */
  text-align: center; /* Center align text */
  overflow: hidden; /* Hide overflow */
  top: 51px; /* Set distance from the top */
} /* End of #dropdown-content styles */

#dropdown-content a {
  background-color: #04aa6d; /* Set background color for dropdown items */
  color: black; /* Set text color */
  padding: 0.75rem 0.75rem; /* Set padding */
  text-decoration: none; /* Remove underline */
  display: block; /* Display as block */
  border-radius: 0.75rem; /* Set border radius */
} /* End of #dropdown-content a styles */

#dropdown-content a:hover {
  background-color: #0f875b; /* Change background color on hover */
} /* End of #dropdown-content a:hover styles */

#dropdown:hover #dropdown-content {
  display: block; /* Display the dropdown content on hover */
} /* End of #dropdown:hover #dropdown-content styles */

#dropdown:hover #button {
  background-color: #0f875b; /* Change background color of button on hover */
  color: black; /* Set text color of button on hover */
  box-shadow: 0 0.75rem 1rem 0 rgba(0,0,0,0.24), 0 1.063rem 3.125rem 0 rgba(0,0,0,0.19); /* Apply box shadow on hover */
} /* End of #dropdown:hover #button styles */
