
#mainHeader{
    font-family: "Geogia";
    position: fixed;
    top: 0;
    width: 500px;
    margin-top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    padding: 10px;
}
#homeBodyText{
    background-image: url("abstractBackground.jpg");
    background-color: #2b2b2b;
    font-family: "Arial";
    font-size: 16px;
    margin-top: 50px;
}