#mainHeader{
    font-family: "Geogia";
    text-align: center;
    font-size: 16px;
    color: white;
}
#homeBodyText{
    font-family: "Arial";
    color: white;
    font-size: 16px;
    margin-top: 50px;
    padding: 1%;
}
#backImage{
    padding-top: 50px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("abstractBackground.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Georgia";
}
#banner{
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0 auto;
    text-align: center;
}
#mainContent{
    padding-top: 70px;
}